#landing-button-text {
    width: 15rem;
    height: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

	font-family:Arial;
	font-size: var(--header-topic-font-size);

    color: var(--color-button);
    border: 2px solid var(--color-button);

	cursor:pointer;
    letter-spacing: .05em;

	padding:1rem 1rem;
    transition: .25s;
}

#landing-button-text:hover, #landing-button-text:focus {
    color: var(--color-font);
    animation: pulse 1s;
    box-shadow: 0 0 0 1.5em transparent;
    transition: .25s;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--color-button); }
}