:root {
  --color-black: #171717;
  --color-grey-line: #cdcdcd4a;
  --color-font: #FFFFFF;
  --color-sub-font: #E9E9E9;
  --color-button: #FF1414;
  --title-font-size: 4em; /* 40px */
  --header-topic-font-size: 1.3em; 
  --header2-topic-font-size: 2.5em; 
  --header3-topic-font-size: 2em; 
  --normal-text-font-size: 1em; /* 16px */
  --sub-text-font-size: 0.875em; /* 14px */
  --button-text-font-size: 1.125em; /* 18px */
  --bottom-border: .3rem;
  --normal-weight-font: 400;
  --bold-font: 700;
}

a {
  text-decoration: none !important; /* This will remove the underline */
}


*,body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-font);
  font-size: var(--normal-text-font-size);
  font-family: Arial, sans-serif;
  font-weight: var(--normal-weight-font);
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.content-title {
  padding-top: 6rem;
  padding-bottom: 2rem;
  font-size: var(--header2-topic-font-size);
  font-weight: var(--bold-font);
  letter-spacing: var( --bottom-border);
}

.content {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  flex-direction: column;
  align-items: center;
}

.spacer {
  height: 3rem;
}